.flat-number-header {
  vertical-align: middle;
  width: 3%;
}

.owner-header {
  vertical-align: middle;
  width: 27%;
}

.coowner-header {
  vertical-align: middle;
  width: 25%;
}

.tenant-header {
  vertical-align: middle;
  width: 25%;
}

.resident-type-header {
  vertical-align: middle;
  width: 10%;
}

.outstanding-header {
  vertical-align: middle;
  width: 10%;
}

.table-header td {
  text-align: left;
  padding: 5px 10px;
  border: 1px solid;
}

.table-body td {
  text-align: left;
}

.table-header .table-title {
  text-align: center;
}

.table-body .total-outstanding .total-outstanding-desc {
  text-align: right;
  font-weight: bold;
}

.table-body .total-outstanding .total-outstanding-amount {
  font-weight: bold;
}

.table-body .end-of-data td {
  text-align: center;
}

.table-body .no-focus {
  background: linear-gradient(90deg, #fa7070, #c6ebc5 0%);
}

.table-body .low-focus {
  background: linear-gradient(90deg, #fa7070, #c6ebc5 20%);
}
.table-body .normal-focus {
  background: linear-gradient(90deg, #fa7070, #c6ebc5 40%);
}
.table-body .above-normal-focus {
  background: linear-gradient(90deg, #fa7070, #c6ebc5 60%);
}
.table-body .medium-focus {
  background: linear-gradient(90deg, #fa7070, #c6ebc5 80%);
}
.table-body .high-focus {
  background: linear-gradient(45deg, #fa7070, #c6ebc5 100%);
}
