* {
    font-size: 0.92em;
}

#generated-on,
#apartment-name,
#container
{
    min-width: 600px;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding-top: 20px;
}

.main-heading-row {
    text-align: center;
    font-weight: bold;
}

.payments-table {
    border-collapse: collapse;
    border-top: 2px solid;
    border-bottom: 2px solid;
    padding: 20px 30px;
    min-width: 600px;
    max-height: 80%;
    width: 90%;
    margin: 0 auto;
}

.payments-table thead td {
    font-weight: bold;
    background-color: #e9edc9;
}

.paid-on-header {
    vertical-align: middle;
    width: 18%;
}

.flat-number-header {
    vertical-align: middle;
    width: 18%;
}

.owner-name-header {
    vertical-align: middle;
    width: 22%;
}

.amount-header {
    vertical-align: middle;
    width: 12%;
}

.payment-mode-header {
    vertical-align: middle;
    width: 16.5%;
}

.payment-category-header {
    vertical-align: middle;
    width: 17.5%;
}

.payments-table td {
    text-align: center;
    padding: 5px 20px;
    border: 1px solid;
}

.table-body .total-collection .total-collection-desc {
    text-align: right;
    font-weight: bold;
}

.table-body .total-collection .total-collection-amount {
    font-weight: bold;
}

.table-body .end-of-data td {
    text-align: center;
}

.table-body .owner-name, 
.table-header .owner-name-header {
    text-align: left;
}
