.paid-on-header {
  vertical-align: middle;
  width: 16%;
}

.flat-number-header {
  vertical-align: middle;
  width: 14%;
}

.owner-name-header {
  vertical-align: middle;
  width: 22%;
}

.amount-header {
  vertical-align: middle;
  width: 11%;
}

.payment-mode-header {
  vertical-align: middle;
  width: 16%;
}

.payment-category-header {
  vertical-align: middle;
  width: 25%;
}

.payments-table td {
  text-align: center;
  padding: 5px 20px;
  border: 1px solid;
}

.table-body .total-collection .total-collection-desc {
  text-align: right;
  font-weight: bold;
}

.table-body .total-collection .total-collection-amount {
  font-weight: bold;
}

.table-body .end-of-data td {
  text-align: center;
}

.table-body .owner-name,
.table-header .owner-name-header {
  text-align: left;
}
