.date-col {
  vertical-align: middle;
  width: 15%;
}

.pay-col {
  width: 43%;
  text-align: center;
}

.exp-col {
  width: 31%;
  text-align: center;
}

.outstand-col {
  width: 11%;
}

.flat-info td,
.transactions-table td {
  text-align: center;
  padding: 5px 20px;
  border: 1px solid;
}

.flat-desc,
.resident-type,
.opening-date,
.owner-name,
.opening-balance,
.tenant-name,
.current-outstanding {
  width: 23%;
}

.flat-desc-cap,
.resident-type-cap,
.opening-date-cap,
.owner-name-cap,
.coowner-name-cap,
.opening-balance-cap,
.tenant-name-cap,
.current-outstanding-cap {
  width: 27%;
  font-weight: bold;
}

.flat-info-body td {
  text-align: left;
}
